@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Cinzel&family=Domine:wght@600&family=Foldit:wght@500&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&display=swap');
@layer base{
  html{
    font-family: 'Cinzel', serif;
    font-family: 'Shadows Into Light', cursive; 
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Domine', serif;
    font-family: 'Foldit', cursive;
    font-family: 'Josefin Slab', serif
  }
}